<%= form_tag('/test', method: :post) do %>
<!-- #↑ 送信ボタンを押した時に' /URL'で指定したページに飛ぶ -->
<!-- method で postを指定 -->

  <h3>HTML　テキスト入力フォーム</h3>
  <p>お名前：<input placeholder="山田太郎" type="text" name="name"></p>
  <!-- #placeholder属性に値を入れると、入力例としてあらかじめ表示させられる -->

  <p>年齢：<input placeholder="" type="text" name="age"></p>
  <p>性別：<input placeholder="" type="text" name="gender"></p>
  <p>住所：</p>
    <p><textarea cols="30" name="text" placeholder="ここに住所を入力" rows="10"></textarea></p>
    <!-- cols:textareaの横幅 rows:textareaの高さ　の設定 -->
<!-- 送信を押した時にバックでこのようにParametersという配列(ハッシュ)が作られている -->
<!-- Parameters: {"name"=>"丸茂", "age"=>"５", "gender"=>"m", "text"=>"山梨"} -->
<!-- コントローラーのアクションで指定すれば値を取り出せる -->



<h2>HTML書式：チェックボックス練習</h2>
<p><input type="checkbox" name="food2[]" value="ステーキ">ステーキ</p>
<p><input type="checkbox" name="food2[]" value="寿司">寿司</p>
<p><input type="checkbox" name="food2[]" value="天ぷら">天ぷら</p>
<!-- ↓画像でボタン -->


<h2>Rails記述：チェックボックス練習</h2>
<p>ステーキ:<%=  check_box 'food2', '',{}, "ステーキ", false %></p>
<p>てんぷら:<%=  check_box 'food2', '',{}, "てんぷら", false %></p>
<p>寿司:<%=  check_box 'food2', '',{},  "寿司", false %></p>



<h3>復習</h3>
<p>Aチェック:<%= check_box 'check', '', {:checked => true}, "Aチェック", false %></p>
<p>Bチェック:<%= check_box 'check', '',  {}, "Bチェック", false %></p>
<p>Cチェック:<%= check_box 'check', '',  {},"Cチェック", false %></p>
<p>Dチェック:<%= check_box 'check', '', {}, "Dチェック", false %></p>

<fieldset>
<legend>ラジオボタン練習</legend>
満足度<br>
<input type="radio" name="manzoku">大変満足<br>
<input type="radio" name="manzoku">まあまあ満足<br>
<input type="radio" name="manzoku">普通<br>
<input type="radio" name="manzoku">やや不満足<br>
<input type="radio" name="manzoku">不満足<br>
</fieldset>
<br>

<h2>Rails ラジオボタン</h2>
 <div class="text">
   <p>男性：<%= radio_button 'gender', '', '男性' %></p>
   <p>女性：<%= radio_button 'gender', '', '女性',{:checked => true} %></p>
 </div>


 <hr/>
<h2>言語チェックボックス</h2>
<p>Java:<%=  check_box 'prog', '',{}, "Java", false %></p>
<p>Ruby:<%=  check_box 'prog', '',{}, "Ruby", false %></p>
<p>PHP:<%=  check_box 'prog', '',{},  "PHP", false %></p>
<p>Phython:<%=  check_box 'prog', '',{}, "Phython", false %></p>

<hr/>
<h2>言語ラジオボタン</h2>
 <div class="text">
   <p>Java：<%= radio_button 'program', '', 'Java' %></p>
   <p>Ruby：<%= radio_button 'program', '', 'Ruby' %></p>
   <p>PHP：<%= radio_button 'program', '', 'PHP' %></p>
   <p>Phython<%= radio_button 'program', '', 'Phython' %></p>
 </div>

<p><input type="submit" value="送信"></p>
<% end %>
