<h1>POSTメソッドで送信しました</h1>
<!-- HTML　テキスト入力フォーム -->
<p><%= @name %></p>
<p><%= @age %></p>
<!-- <p><%= @gender %></p> -->
<p><%= @text %></p>
<hr/>

<h3>Rails表記 foodチェックボックス</h3>
<p>モデルのdisFoodメソッドを利用</p>
  <p><%= simple_format(@checked_food) %></p>
  <hr/>


<h3>A~Dチェックと(処理未実装)満足度ラジオボタン</h3>
  <p><%= simple_format(@check) %></p>
  <hr/>


<h2>性別ラジオボタン</h2>
  <p><%= @gender %></p>
  <hr/>


<h2>言語チェックボックス</h2>
  <p><%= simple_format(@checked_prog) %></p>
  <hr/>

<h2>言語ラジオボタン</h2>
  <p><%= @program %></p>
  <hr/>
