<h1>POSTメソッドで送信しました</h1>
<!-- HTML　テキスト入力フォーム -->
<p><%= @name %></p>
<p><%= @age %></p>
<p><%= @gender %></p>
<p><%= @text %></p>

<h2>Rails表記 foodチェックボックス</h2>
  <p><%= simple_format(@checked_food) %></p>

<h3>復習フォームは送信されました</h3>
<p><%= simple_format(@check) %></p>

<h2>性別チェックボックス</h2>
  <p><%= @gender %></p>


<h2>言語チェックボックス</h2>
    <p><%= simple_format(@checked_prog) %></p>

<h2>言語ラジオボタン</h2>
<p><%= @program %></p>
