<%= form_tag('/show', method: :post) do %>
  <h3>タイトル</h3>
  <p>趣味：<input placeholder="" type="text" name="hobby"></p>
  <p>出身：<input placeholder="" type="text" name="country"></p>
  <p>プログラミング言語：<input placeholder="" type="text" name="programing"></p>
  <p><input type="submit" value="SENT"></p>

<% end %>

<!-- ↓hrタグ：横罫線 -->
<hr>
<!-- フォーム画面復習で作る -->
<%= form_tag('/show', method: :post) do %>
  <h3>チェックボックスフォーム</h3>
  <p>とても良い<%= check_box 'goodbad', '', {}, "とても良い",false %></p>
  <p>まあまあ<%= check_box 'goodbad', '', {}, "まあまあ",false %></p>
  <p>ふつう<%= check_box 'goodbad', '', {}, "ふつう",false %></p>
  <p>いまいち<%= check_box 'goodbad', '', {}, "いまいち",false %></p>
<p><input type="submit" value="送信"></p>
<% end %>

<hr>
<%= form_tag('/show', method: :post) do %>
  <h3>ラジオボタンフォーム</h3>
  <p>男性<%= radio_button 'gender', '',"男性" %></p>
  <p>女性<%= radio_button 'gender', '',"女性" %></p>
<p><input type="submit" value="送信"></p>
<% end %>
