<h1>TEST2 POSTメソッドで送信されました</h1>

<p>趣味：<%= @hobby %></p>
<p>出身：<%= @country %></p>
<p>プログラミング言語：<%= @programing %></p>
<hr>

<h3>チェックボックス選択結果</h3>
<p><%= simple_format(@goodbad) %></p>
<hr>


<h3>ラジオボタン結果</h3>
<p><%= @gender %></p>
<hr>
