<!DOCTYPE html>
<html>
<head>
  <title>FormTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
  <li><%= link_to "入力フォームいろいろ(test)", "/test" %></li>
  <li><%= link_to "フォームその２(test2)", "/show" %></li>
</ul>
<%= yield %>

</body>
</html>
